DISCORD_TOKEN=your_discord_bot_token_here
CLIENT_ID=your_discord_client_id_here
LOG_CHANNEL_ID=your_discord_log_channel_id_here
ROBLOX_API_KEY=your_roblox_api_key_here
GROUP_ID=your_roblox_group_id_here
UNIVERSE_IDS=your_roblox_universe_id_here
BLOXLINK_API_KEY=your_bloxlink_api_key_here
